<div class="text"> 
    <h1>Datenschutzerklärung</h1>
    <h2>Disclaimer</h2>
    <h3>§ 1 Vorwort</h3>
    <p>
       Diese Datenschutzerklärung klärt sie auf, für welche Daten wir sammeln. Sie finden informationen über Kontaktdaten des Verantwortlichen,<br>
       Personenbezogener Daten, Geltungsbereich, Ihre Rechte. Die Berufsbildende Schule Donnersbergkreis sind Betreiber der<br>
       der Plattform, weitere Angaben finden sie im Impressum. Wir bitten sie die Datenschutzerklärung sorgfälltig durchzulesen damit keine unstimmichkeiten<br>
       passieren.  </p>
    <h3>§ 2 Kontaktdaten des Verantwortlichen</h3>
    <p>
        Herrn Matthias Frietsch, Oberstudiendirektor<br>
        Berufsbildende Schule Donnersbergkreis<br>
        Alleestraße 8<br>
        67806 Rockenhausen<br>
        
        Tel. 06361-92110<br>
        Fax: 06361-921122 </p>
   
    <h3>§ 3 Personenbezogener Daten</h3>
    <p>In Diesem Text wird ihnen erklärt, wie wir mit Daten umgehen und welche Daten wir brauchen.<br> 
       Die Personenbezogene Daten sind wichtig für die Anmeldung in diesem Forum.<br>
       Wir werden ihre Personenbezogene Daten sicher verschlüsseln.<br>
       Die einzigen Daten die wir brauchen sind Vor- & Nachname, Email, Passwort und ob Sie Lehrer oder Schüler sind.<br>
       Alle drei Daten müssen von Lehrer wie auch Schüler angeben werden, ohne diese Daten kann eine Anmeldung nicht möglich sein.<br>
       </p>
    <h3>§ 4 Geltungsbereich</h3>
    <p> Diese Datenschutzerklärung soll die Nutzer dieser Website gemäß Bundesdatenschutzgesetz und Telemediengesetz über die Art, <br>
        den Umfang und den Zweck der Erhebung und Verwendung personenbezogener Daten durch den Websitebetreiber informieren.<br>
        Der Websitebetreiber nimmt Ihren Datenschutz sehr ernst und behandelt Ihre personenbezogenenDaten vertraulich <br>
        und entsprechend der gesetzlichen Vorschriften.<br>
        Bedenken Sie, dass die Datenübertragung im Internet grundsätzlich mit Sicherheitslücken bedachtsein kann.<br> 
        Ein vollumfänglicher Schutz vor dem Zugriff durch Fremde ist nicht realisierbar.</p>
    <h3>§ 5 Ihre Rechte und Pflichten</h3>
    <p>Sie haben bestimmte Rechte, die wir befolgen müssen, wie auch Pflichten die Sie befolgen müssen. <br>
       Ihre ganze rechte werden hier im Text erläutert und aufgelistet.<br>
       Wir gehen davon aus das sie die AGB gelesen haben und einverstanden sind damit, genauso wie die Datenschutzerklärung.<br>
       Wenn sie dies nicht getan haben, bitte ich Sie die AGB und Datenschutzerklärung deutlich durchzulesen und sie in kenntnis zu nehmen.<br>
       Wir bitten sie drum sobald sie ihre Daten angeben auch die richtigen Daten an zugeben und nicht gefälschte Daten einzutragen.<br>
       Sobald sie ihre Daten angeben werden Sie ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. Bei unsorgfälltigen Verhalten<br>
       mit Daten wie zum Beispiel weiter erzählen von Passwörter nehmen wir keine haft.  </p>
</div>

