<div class="text"> 
    <h1>Datenschutzerklärung</h1>
    <h2>Disclaimer</h2>
    <h3>Vorwort</h3>
    <p>Diese Datenschutzerklärung klärt sie auf, für welche Daten wir sammeln. Sie finden informationen über denn Kontaktdaten des Verantwortlichen, Datenschutzbeauftragter, Personenbezogener Daten, Geltungsbereich, Ihre Rechte. </p>
    <h3>Kontaktdaten des Verantwortlichen</h3>
    <p>
        Herrn Matthias Frietsch, Oberstudiendirektor
        Berufsbildende Schule Donnersbergkreis
        Alleestraße 8
        67806 Rockenhausen
        
        Tel. 06361-92110
        Fax: 06361-921122 </p>
    <h3> Datenschutzbeauftragter</h3>
    <h3>Personenbezogener Daten</h3>
    <h3>Geltungsbereich</h3>
    <h3>Ihre Rechte</h3>
</div>

