<div class="text"> 
    <h1>Datenschutzerklärung</h1>
    <h2>Disclaimer</h2>
    <h3>§ 1 Vorwort</h3>
    <p>
       Diese Datenschutzerklärung klärt sie auf, für welche Daten wir sammeln. Sie finden informationen über denn Kontaktdaten des Verantwortlichen,
       Datenschutzbeauftragter, Personenbezogener Daten, Geltungsbereich, Ihre Rechte. Die Berufsbildende Schule Donnersbergkreis sind Betreiber der
       der Plattform, weitere Angaben finden sie im Impressum. Wir bitten sie die Datenschutzerklärung sorgfälltig durchzulesen damit keine unstimmichkeiten
       passieren.  </p>
    <h3>§ 2 Kontaktdaten des Verantwortlichen</h3>
    <p>
        Herrn Matthias Frietsch, Oberstudiendirektor
        Berufsbildende Schule Donnersbergkreis
        Alleestraße 8
        67806 Rockenhausen
        
        Tel. 06361-92110
        Fax: 06361-921122 </p>
   
    <h3>§ 3 Personenbezogener Daten</h3>
    <p>In Diesem Text wird ihnen erklärt, wie wir mit Daten umgehen und welche Daten wir brauchen. 
       Die Personenbezogene Daten sind wichtig für die Anmeldung in diesem Forum.
       Wir werden ihre Personenbezogene Daten sicher verschlüsseln. 
       Die einzigen Daten die wir brauchen sind Vor- & Nachname, Email, Passwort und ob Sie Lehrer oder Schüler sind.
       Alle drei Daten müssen von Lehrer wie auch Schüler angeben werden, ohne diese Daten kann eine Anmeldung nicht möglich sein.
       </p>
    <h3>§ 4 Geltungsbereich</h3>
    <h3>§ 5 Ihre Rechte und Pflichten</h3>
    <p>Sie haben bestimmte Rechte, die wir befolgen müssen, wie auch Pflichten die Sie befolgen müssen. 
       Ihre ganze rechte werden hier im Text erläutert und aufgelistet.
       Wir gehen davon aus das sie die AGB gelesen haben und einverstanden sind damit, genauso wie die Datenschutzerklärung.
       Wenn sie dies nicht getan haben, bitte ich Sie die AGB und Datenschutzerklärung deutlich durchzulesen und sie in kenntnis zu nehmen.
       Wir bitten sie drum sobald sie ihre Daten angeben auch die richtigen Daten an zugeben und nicht gefälschte Daten einzutragen.
       Sobald sie ihre Daten angeben werden Sie ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. Bei unsorgfälltigen Verhalten
       mit Daten wie zum Beispiel weiter erzählen von Passwörter nehmen wir keine haft.  </p>
</div>

