<form [formGroup]="regForm" (ngSubmit)="onRegSubmit()">
  <mat-form-field>
    <mat-label>Nutzername</mat-label>
    <input matInput formControlName="Username" placeholder="Muster_man_38">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Vorname</mat-label>
    <input matInput formControlName="FirstName" placeholder="Max">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Nachname</mat-label>
    <input matInput formControlName="LastName" placeholder="Mustermann">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="Email" placeholder="max.mustermann@example.com">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Passwort</mat-label>
    <input type="password" matInput formControlName="Password">
  </mat-form-field><br>
    <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
