<div *ngIf="threads" class="text" id="outerthreadlist">
  <table mat-table [dataSource]="threads" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titel </th>
      <td mat-cell *matCellDef="let thread"><a routerLink="/thread/{{thread.id}}" routerLinkActive="router-link-active" >{{thread.Titel}}</a></td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> Nutzer </th>
      <td mat-cell *matCellDef="let thread"><a id="Username" routerLink="/user/{{thread.userId}}" routerLinkActive="router-link-active" *ngIf="userList"> {{userList[thread.userId].Username}} </a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="threadsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: threadsColumns;"></tr>
  </table>
</div>
